# Системные файлы macOS
.DS_Store

# Виртуальные окружения Python
.venv/

# Файлы с переменными окружения (секреты)
.env

# Настройки IDE (например, PyCharm)
.idea/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc

# Файлы с учетными данными (секреты)
credentials.json